DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_SECRET=1aa8dcc4f312cf13573a915062ce7dc0c70fef06d916b6d74dd26de44a993073
AUTH_BASE_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:5173,http://localhost:4173
PUBLIC_API_CORS_ORIGINS=https://carbplan.app
